.jwp-tinymce-item {
    border: 1px dotted #cc0000;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffcc;
    background-image: url(../++plone++collective.jwplayer/jw.jpg);
}

